{% extends 'blog/base.html' %} 
{% block content %}
<!-- Page Content -->
<div class="container">
  <div class="row">
    <div class="col-md-12 text-center">
      <h1 class="mt-5">About Us</h1>
      <p class="lead">
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Consequatur nobis dolorem voluptate, numquam voluptas harum dolorum labore mollitia nisi at aliquam quo fuga, eaque, magnam libero. Sunt officia deleniti quas?
      </p>
      <ul class="list-unstyled">
        <li>Python</li>
        <li>Django 2.2</li>
        <li>Bootstrap4</li>
      </ul>
    </div>
  </div>
</div>
{% endblock %}
